.timeline {
    border-bottom: 1px solid #42494D;
}

.btn-link {
    color: white;
    font-weight: bold;
}

.btn-link:hover {
    color: #5ac53b;
    text-decoration: none;
}

.btn-link:active {
    color: #5ac53b;
    border-bottom: 1px solid #5ac53b;
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
    color: #5ac53b;
    border-bottom: 1px solid #5ac53b;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}